
/***************************************
GALERIA
****************************************/

.main{
    height: auto;
    max-width: 100%;
}

#gallery{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    
}

#gallery li {
    float: left;
    width: 30%;
    margin: 1.5%;    
}

.img-size{
    width: 150px;
    height: 150px;
    transition: all 1.5s;

}

.img-size:hover{
    transform: scale(1.3);
}
    












